# Check that your Apache virtualhost have this settings:

#<Directory "/var/www/chamilo-classic">
#  AllowOverride All
#  Order allow,deny
#  Allow from all
#</Directory>



RewriteEngine on 
RewriteRule ^([^/.]+)/?$ user.php?$1 [L]

# supress php errors
php_flag display_startup_errors off
php_flag display_errors off
php_flag html_errors off
php_value docref_root 0
php_value docref_ext 0

# This will transform 
# http://my.chamilo.net/juliomontoya		to		 http://my.chamilo.net/user.php?juliomontoya 